.pc
config.h
debian/debhelper-build-stamp
debian/dwm.debhelper.log
debian/dwm.postinst
debian/dwm.postinst.debhelper
debian/dwm.postrm.debhelper
debian/dwm.prerm
debian/dwm.prerm.debhelper
debian/dwm.substvars
debian/dwm/DEBIAN/control
debian/dwm/DEBIAN/md5sums
debian/dwm/DEBIAN/postinst
debian/dwm/DEBIAN/postrm
debian/dwm/DEBIAN/prerm
debian/dwm/usr/bin/dwm.default
debian/dwm/usr/bin/dwm.ed
debian/dwm/usr/bin/dwm.maintainer
debian/dwm/usr/bin/dwm.web
debian/dwm/usr/bin/dwm.winkey
debian/dwm/usr/share/doc/dwm/README
debian/dwm/usr/share/doc/dwm/changelog.Debian.gz
debian/dwm/usr/share/doc/dwm/copyright
debian/dwm/usr/share/icons/dwm.png
debian/dwm/usr/share/lintian/overrides/dwm
debian/dwm/usr/share/man/man1/dwm.1.gz
debian/dwm/usr/share/man/man1/dwm.default.1.gz
debian/dwm/usr/share/man/man1/dwm.ed.1.gz
debian/dwm/usr/share/man/man1/dwm.maintainer.1.gz
debian/dwm/usr/share/man/man1/dwm.web.1.gz
debian/dwm/usr/share/man/man1/dwm.winkey.1.gz
debian/dwm/usr/share/menu/dwm
debian/dwm/usr/share/xsessions/dwm.desktop
debian/files
drw.o
dwm
dwm.o
util.o
